.search-bar {
  height: 60px;
  margin: 20px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  min-width: 0;
  padding-bottom: 8px;
  padding-top: 7px;
}
.logo-youtube img {
  width: 150px;
  margin-top: -28px;
}
.search-bar input {
  width: 75%;
  padding: 7px;
}

.video-item img {
  max-width: 64px;
}

.video-item-view, .video-detail, .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd !important;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.list-group {
  margin-left: 20px;
  width: 30%;
}

.video-detail {
  background: #fff;
}

.video-detail .details {
  background: #20825d;
  color: #fff;
  margin-bottom: 60px;
}

.sign-in {
  background-color: #167ac6;
  color: #fff;
  padding: 8px 0px;
  max-width: 70px;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
}

.tr-style {
  background-color: #ccc;
}

.header-style {
  background-color: #fff;
  color: hotpink;
  font-size: 15px;
}

.btn-react {
  margin: 80px 50px;
  width: 100px;
}

.color-heart {
  color: red;
  font-weight: bold;
  font-size: 15px;
}

 li{
  margin: 10px;
}

.navbar .nav-pills .active {
   color: green;
   font-weight:bold;
}

.navbar .nav-pills >li >a {
    color: orange;
    background-color: #222222;
 }

.navbar .nav-pills > a {
    background-color: orange;
     color: black;
}

.footer-simple-app {
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  margin-top: 20px;
  padding-top: 0px;
  background-color: #ccc;
}
a.active {
  text-decoration: underline !important;
}
.logo-app, .logo-app a {
  height: 10px;
  margin-top: 0px;
}

.selected {
  color: red !important;
}